django==4.1.7
# psycopg2==2.9.5
psycopg2-binary==2.9.5
djangorestframework==3.14.0
django-cors-headers==3.14.0

pypdf2==3.0.1
python-docx==0.8.11

opencv-python==4.7.0.72
pdf2image==1.16.3
Pillow==9.5.0
pytesseract==0.3.10
python-barcode==0.14.0
pyzbar==0.1.9
qrcode==7.4.2

tensorflow==2.12.0
