{% extends "base_generic.html" %}
{% block title %}Авторизация{% endblock %}
{% block body_class %}login_page{% endblock %}
{% load static %}
{% block content %}
    <main class="text-center form-signin w-100 m-auto">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="logo-img w-50 mb-3">
                <img src="{% static 'images/logo.png' %}" alt="">
            </div>
            <div>
                <label for="inputEmail">Логин</label>
                <input class="form-control" name="username" id="inputEmail" placeholder="Username" required value="">
            </div>
            <div>
                <label for="inputPass">Пароль</label>
                <input type="password" class="form-control" name="password" id="inputPass" required placeholder="Password">
            </div>

            <input class="w-50 mt-4 btn btn-lg btn-primary log-in" type="submit" value="Войти"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </main>
{% endblock %}