{% extends "base_menu_generic.html" %}
{% load static %}
{% block main_content %}
    <header>
        <h2>Мероприятия</h2>
        <h5 class = "text-secondary">Тюменская область</h5>
        <hr>
    </header>
    <main class="page-block">
        <div class="btn-toolbar justify-content-end mt-2 mb-2">
            <button type="button" class="btn btn-primary">Создать</button>
            <button type="button" class="btn btn-danger ms-2">Удалить</button>
        </div>
        <table class="table table-bordered table-hover text-center">
            <thead class="create-event-table">
                <tr class = "table-secondary">
                    <th scope="col"></th>
                    <th scope="col">Название</th>
                    <th scope="col">Дата начала</th>
                    <th scope="col">Дата окончания</th>
                    <th scope="col">Кол-во организаций</th>
                    <th scope="col">%Выполнения</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row"><input type="checkbox"></th>
                  <td><a href="" class="link-primary">10 класс. Русский язык</a></td>
                  <td>01.12.2022</td>
                  <td>25.12.2022</td>
                  <td>5</td>
                  <td>10%</td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox"></th>
                  <td><a href="" class="link-primary">10 класс. Английский язык</a></td>
                  <td>01.12.2022</td>
                  <td>25.12.2022</td>
                  <td>5</td>
                  <td>10%</td>
                </tr>
                <tr>
                  <th scope="row"><input type="checkbox"></th>
                  <td><a href="" class="link-primary">8 класс. География</a></td>
                  <td>01.12.2022</td>
                  <td>25.12.2022</td>
                  <td>2</td>
                  <td>40%</td>
                </tr>
              </tbody>
        </table>
        <nav class="mt-2" aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
    </nav>
    </main>
{% endblock %}