{% extends "base_menu_generic.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/datepicker/bootstrap-datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fileinput/fileinput.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fileinput/fileinput_theme.css' %}">
    <script src="{% static 'js/datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/datepicker/bootstrap-datepicker.ru.min.js' %}"></script>
    <script src="{% static 'js/fileinput/fileinput.js' %}"></script>
    <script src="{% static 'js/fileinput/fileinput_theme.js' %}"></script>
    <script src="{% static 'js/fileinput/fileinput_ru.js' %}"></script>
{% endblock %}
{% block main_content %}
    <header>
        <h2>Создание мероприятия</h2>
        <hr>
    </header>
    <main class="page-block">
        <div class="main-settings pt-3 ms-2">
            <div class="head">
                <button class="d-inline image-button btn btn-sm btn-light">
                    <i class="fas fa-chevron-down"></i>
                </button>
                <h5 class="align-middle d-inline">Основные настройки</h5>
            </div>
            <form id="main-settings-form" class="px-3">
                <label class="create-event-form" for="inputEventName">
                    Название:
                    <input name="name" class="form-control w-50 event-input" id="inputEventName" placeholder="Мероприятие" required value="">
                </label>
                <label class="create-event-form" for="inputCalendar">Даты проведения:
                    <div class="w-50" id="inputCalendar">
                        <div class="input-daterange input-group" id="datepicker">
                            <label class="input-group-text calendar-input" style="border-left-color: rgb(18,18,18);" for="inputEventStartDate">c</label>
                            <input name="start_date" type="text" class="input-sm form-control calendar-input" id="inputEventStartDate" placeholder="01.12.2000" required/>
                            <span class="input-group-text bg-white calendar-input">
                                <i class="fas fa-calendar-day"></i>
                            </span>
                            <label class="input-group-text px-3 calendar-input" for="inputEventEndDate">по</label>
                            <input name="end_date" type="text" class="input-sm form-control calendar-input" id="inputEventEndDate" placeholder="01.12.2000" required/>
                            <span class="input-group-text bg-white calendar-input">
                                <i class="fas fa-calendar-day"></i>
                            </span>
                        </div>
                    </div>
                </label>
                <label class="create-event-form" for="inputEventFiles">Варианты работ:</label>
                <div class="file-loading">
                    <input name="files" id="inputEventFiles" type="file" accept="application/pdf" data-browse-on-zone-click="true" multiple required>
                </div>
                <input class="mt-4 btn btn-primary" type="submit" value="Продолжить"/>
            </form>
        </div>

        <div class="templates-settings mt-2 ms-2" style="display: none;">
            <div class="head">
                <button class="d-inline image-button btn btn-sm btn-light">
                    <i class="fas fa-chevron-down"></i>
                </button>
                <h5 class="align-middle d-inline">Настройка шаблонов вариантов</h5>
            </div>
            <form id="templates-settings-form" class="px-3 create-event-form" method="post" action="#">
                <table class="table table-bordered">
                    <thead class="create-event-table">
                        <tr class="text-center">
                            <th scope="col"></th>
                            <th scope="col">№</th>
                            <th scope="col">Предметная область</th>
                            <th scope="col">Максимальный балл</th>
                            <th scope="col">Время проверки (мин):</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="task-1">
                            <td><input class="checkbox w-100" type="checkbox"></td>
                            <td style="width: 50px;"><input name="task_num" class="w-100" type="number" readonly="readonly" required value="1"></td>
                            <td>
                                <select name="subject" class="w-100" id="inputEventSubject" required>
                                    <option disabled>Предметная область</option>
                                </select>
                            </td>
                            <td><input name="max_score" class="w-100" id="inputEventMaxScore" type="number" min="0" max="100" required></td>
                            <td><input name="check_times" class="w-100" id="inputCheckTime" type="number" min="1" required></td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn-toolbar justify-content-end mt-2">
                    <button type="button" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-danger ms-2">Удалить</button>
                </div>
                <input class="btn btn-primary" type="submit" value="Продолжить"/>
            </form>
        </div>

        <div class="matching-criteria mt-2 ms-2 pb-3" style="display: none;">
            <div class="head">
                <button class="d-inline image-button btn btn-sm btn-light">
                    <i class="fas fa-chevron-down"></i>
                </button>
                <h5 class="align-middle d-inline">Загрузка критериев</h5>
            </div>
            <div class="row px-3 py-3">
                <form id="matching-criteria-form">
                    <table class="table table-bordered">
                        <thead class="matching-criteria-table">
                            <tr class="text-center">
                                <th scope="col">Вариант</th>
                                <th scope="col">Критерии</th>
                            </tr>
                        </thead>
                        <tbody>
{#                        <tr id="variant-id">#}
{#                            <td><input name="variant_name" class="w-100" type="text" required readonly="readonly"></td>#}
{#                            <td><input name="criteria_file" type="file" accept="application/pdf" required></td>#}
{#                        </tr>#}
                        </tbody>
                    </table>
                    <input class="mt-4 btn btn-primary" type="submit" value="Продолжить"/>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/pages/create_event.js' %}"></script>
{% endblock %}