{% extends "base_menu_generic.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block title %}{{ region.name }} Мероприятия {% endblock %}
{% block main_content %}
    <div class="container mt-3 pb-1">
        {% if events.count > 0 %}
            <div class="row align-items-start table-naming">
                <div class="col-4">Название мероприятия</div>
                <div class="col-3">Кол-во заданий</div>
            </div>
            <div class="rounded-3">
                {% for event in events %}
                    <div class="row align-items-start py-2">
                        <div class="col-1"><a href="/marking/{{ event.id }}">{{ event.event.event.name }}</a></div>
                        <div class="col-3">232</div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <main class="page-block">
                <div class="info pt-3 ms-2">
                    <h3 class="text-center">Нет мероприятий с заданиями</h3>
                </div>
            </main>
        {% endif %}
    </div>
{% endblock %}
