html,
body {
  height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none !important;
  color: inherit;
}

body.login_page {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #021E2B;
}

.form-signin {
  max-width: 450px;
  padding: 20px 30px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.page-content {
  background: #F5F5F5;
  height: auto;
  width: 100%;
  margin: 0;
}

.page-block {
  background: white;
  box-shadow: 0 4px 4px #00000004;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.user_name {
  vertical-align: sub;
}

.exit_button {
  padding-left: 15px;
}

.logo-img {
  margin-top: 20px;
  width: 80%;
}

.nav {
  width: inherit;
  height: 100%;
}

.nav-user {
  margin-top: 16px;
  margin-left: 14px;
  color: black;
}

.image-button {
  border: none;
  background: none;
}

.icon-button {
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}

.num-button {
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.3;
}

.nav-button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-inline: auto;
  text-decoration: none;
  width: 90%;
}

.nav-button img {
  margin-right: 5px;
}

.event-input {
  border-color: rgb(18, 18, 18) rgb(133, 133, 133) rgb(133, 133, 133) rgb(18, 18, 18);
  border-width: 2px;
  height: 36px;
}

.calendar-input {
  border-color: rgb(18, 18, 18) rgb(133, 133, 133) rgb(133, 133, 133) rgb(133, 133, 133);
  border-width: 2px;
  height: 36px;
}

.create-event-form {
  display: block;
  margin-top: 5px;
}

.create-event-table {
  background: rgb(233, 236, 239);
}

.table {
  margin: 0;
}

.checkbox {
  transform: scale(1.5);
}