html,
body {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}

body.login_page {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #021E2B;
}

.form-signin {
  max-width: 450px;
  padding: 20px 30px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.page-content {
  background: #F5F5F5;
  height: 100%;
}

.menu {
  background: white;
  border-radius: 22px;
  box-shadow: 0 4px 4px #00000004;
  height: 100%;
  padding:0;
}


.logo-img {
  margin-top: 20px;
  width: 80%;
}

.nav-user {
  margin-top: 16px;
  margin-left: 14px;
  color: black;
}

.image-button {
  border: none;
  background: none;
}

.nav-button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-inline: auto;
  text-decoration: none;
  width: 90%;
}

.nav-button img {
  margin-right: 5px;
}