{% extends "base_menu_generic.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Регионы{% endblock %}

{% block main_content %}
    <div class="container mt-3 pb-1">
        <h3 class="display-6 my-4 fw-normal">Регионы</h3>
        <div class="row align-items-start table-naming">
            <div class="col-1">№</div>
            <div class="col-4">Название</div>
            <div class="col-3">Кол-во участников</div>
            <div class="col-3">Активные мероприятия</div>
        </div>
        {% if regions.count > 0 %}
            <div class="rounded-3">
                {% for region in regions %}
                    <div class="row align-items-start bg-light py-2">
                        <div class="col-1">{{ region.id }}</div>
                        <div class="col-4"><a href="/regions/{{ region.id }}">{{ region.name }}</a></div>
                        <div class="col-3">232</div>
                        <div class="col-3">33</div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="mt-2">Нет доступных регионов</p>
        {% endif %}
        <div class="flex-row d-flex justify-content-end w-90">
            <button class="btn btn-primary rounded-pill px-3 my-4" type="button" data-bs-toggle="modal"
                    data-bs-target="#RegionCreateModal">Добавить регион
            </button>
        </div>
    </div>
    <div class="modal fade" id="RegionCreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'regions_reg' %}" method="post" id="region-form" novalidate>
                    {% csrf_token %}
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить Регион</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="id_name" class="col-form-label">Название:</label>
                            {{ form.name | as_crispy_field}}
                            <div class="text-danger" id="form-errors"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/region.js' %}"></script>
{% endblock %}
